 footer{
    padding-left: 25px;
    margin-top: 50px;
    padding-bottom: 25px;
    background-color: black;
    color: white;
}

 h1{
    font-weight: normal;
    margin-top: 10px;
    font-size: medium;
}