button{
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;

    padding: 9px 25px;
    background-color: black;
    border: black;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    color: white;
    background-color: rgb(54, 54, 109);
    border-color: transparent;
    transition: .5s;
}

input {
    border: none; 
    border-bottom: 2px solid black; 
    border-top: 2px solid transparent; 
    border-right: 2px solid transparent; 
    border-left: 2px solid transparent; 
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
    outline: none;
}

input:focus {
    border-bottom: 2px solid rgb(54, 54, 109);
}

input::placeholder {
    font-size: medium;
}


* {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width:600px){

    * {
        font-size: 15px;
    }


}
