body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    width:100%;
    height:100vh;

}
.left-footer{
    background-color: rgb(202, 61, 61);
    width:50%;
    margin-top: 0px;
    position:absolute;
    top:0px;
    height:100vh;
    
}
.top-title{
    padding:0px;
    margin-left:50px;

}
h2{
    font-size:35px;
}
h4{
    font-size:35px;
}
p{
    font-size:17px;
}
.username-input{
    font-size:17px;
    margin-left:0px;
    width:400px;
    padding:10px;
    border-radius:10px;
}
input::placeholder{
    color:blue;
    margin-left:150px;
}
.password-input{
    font-size:17px;
    margin-left:0px;
    width:400px;
    padding:10px;
    border-radius:10px;
    margin-top:20px;
}
.login-btn{
    width: 200px;
    margin-top:20px;
    margin-left:0px;
    background-color:transparent;
    border-radius: 10px;
    padding:10px;
    font-size: 17px;
    border-color: blue;
    transition:0.5s;


}
.login-btn:hover{
    color:white;
    background-color: blue;
    
}
h5{
    font-size:17px;
    cursor:pointer;
}
h6{
    font-size:17px;
}
.signup-text{
    margin-top:0px;
    cursor:pointer;
}
.right-footer{
   position:absolute;
   top:0px;
   left:683px;
   width:50%;
   background-color: #6d6d6d;
   height:100%;
}
h1{
    color:white;
    text-align: center;
    margin-top: 200px;

}
.right-footer-container h6{
    color:white;
    font-size:17px;
    font-weight:400;
    text-align: center;
}

