.body-container {
    display: flex;
    height: 100vh;
}

.left-section-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 100px;
   padding-right: 100px;
}

.right-section-container{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}


.left-section-container, .right-section-container {
    flex: 1;
}

.left-section-input-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 25px;
}

.password-input {
    margin-top: 15px;
}

.login-btn {
    margin-top: 25px;
    padding: 15px;
    font-weight: bold;
}

.tv-header {
    font-size: large;
}

.tv-subheader {
    font-size: xx-large;
    font-weight: bolder;
}

.tv-body {
    font-size: medium;
    margin-top: -20px;
}

.tv-welcome-message-header {
    font-size: 100px;
    font-weight: bolder;
}

.tv-welcome-message-body {
    font-size: larger;
    margin-top: -70px;
}

.signup-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv-signup-section-header {
    font-size: medium;
}

.tv-signup-section-subheader {
    font-size: medium;
    margin-left: 8px;
}

.checkbox-container {
    margin-top: 20px;
}

.right-section-container-bg {
    height: 100vh;
    width: 50%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


@media screen and (max-width:700px){
    .right-section-container {
        display: none;
    }
}
    