
h2{
    text-align:center;
    font-size:50px;
    font-weight:600;
    margin-top: 0px;
    background-color:rgb(163, 163, 20);
    color:white;
    height:200px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;


}
.round-profile{
    height:100px;
    width:100px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    background-color:red;
    margin-top:0px;
    position: absolute;
    left:450px;
    top:160px;
    
    
    
}

.profile-name{
    padding:10px;
    border-radius:10px;
    position: absolute;
    left:410px;
    top:270px;

}
input::placeholder{
    font-size:17px;
}
.description{
    border-style: none;
    width:400px;
    position:absolute;
    left:330px;
    top:320px;
}
.edit-profile{
    position:absolute;
    top:350px;
    left:350px;
    padding:10px;
    border-radius:10px;
    border-color:yellow;
    color:white;
    
}
@media screen and (max-width:400px){
   h2{
    text-align: center;
    color:white;
   }
   .round-profile{
    position:absolute;
    background-color: black;
    top:160px;
    left:120px;
   }
   .profile-name{
    position:absolute;
    top:270px;
    left:80px;
   }
}