.tv-team-container-subheader {
    font-size: 20px;
}

.tv-member-profile {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: black;
}

.tv-social-profile {
    height: 20px;
    width: 20px;
    background-color: black;

}

.tv-member-name {
    font-weight: bold;
    font-size: large;
    margin-top: 5px;

}

.tv-member-title {
    font-size: medium;
    margin-top: 10px;
}

.tv-member-description {
    font-size: medium;
}

.team-container {
    margin-left: 25px;
    margin-top: 100px;
}

.members-container {
    margin-top: 25px;
    display: flex;
}

.socials-container {
    margin-top: 10px;
}

.tv-team-container-header {
    font-size: 15px;
}

.tv-team-container-body {
    font-size: medium;
    margin-top: 10px;
}



.member-item {
    margin-left: 20px;
}



@media screen and (max-width:700px){

}